<!DOCTYPE html>
<html lang="en">
  <head>
    <%- await include('app/common/head.html'); %>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Hello <%= name%>!</h1>
        <h2>Démo de <code>utac</code></h2>
      </hgroup>
      <%- await include('app/common/nav.html'); %>
    </header>

    <main>
      <section>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          urna diam, tincidunt nec porta sed, auctor id velit. Etiam venenatis
          nisl ut orci consequat, vitae tempus quam commodo. Nulla non mauris
          ipsum. Aliquam eu posuere orci. Nulla convallis lectus rutrum quam
          hendrerit, in facilisis elit sollicitudin. Mauris pulvinar pulvinar
          mi, dictum tristique elit auctor quis. Maecenas ac ipsum ultrices,
          porta turpis sit amet, congue turpis.
        </p>
        <form action="/list-todos" method="GET">
          <input type="hidden" name="foo" value="bar" />
          <button type="submit">Aller à la liste de TODOs</button>
        </form>
      </section>
    </main>

    <%- await include('app/common/footer.html'); %>
  </body>
</html>
